.footer {
  background-color: var(--header-color);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.footer > p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin: 10px 0;
}
.footer > p > a {
  text-decoration: underline;
}
.footer__contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__socials {
  display: flex;
  flex-direction: column;
}
.footer__socials,
footer__contacts,
footer__address {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__socials > h1,
.footer__contacts > h1,
.footer__address > h1 {
  width: 100%;
  padding-bottom: 5px;
  color: white !important;
  border-bottom: 1px solid white;
  font-weight: 500 !important;
  font-size: 1rem !important;
  text-transform: uppercase;
  margin: 5px;
  width: 200px;
}
.footer__socials > p {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  font-size: 1.5rem;
}
.footer__address > p {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.footer__address > p > span {
  color: white;
  font-style: italic;
}

.footer__address > p > span:last-child {
  font-style: unset !important;
  color: var(--color-yellow) !important;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__contacts > p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  color: white;
}

.footer__contacts > p > span:last-child {
  color: var(--color-yellow);
  text-decoration: underline;
}
